
/*media query de altura*/

@media (max-height: 700px){
    .barra-lateral .nombre-pagina{
      margin-bottom: 5px;
    }
    .barra-lateral .navegacion{
      margin-bottom: 3px;
    }
  }
  
  
  
  
  
  
  
  @media(max-width:1100px) {
    .lanes{
      overflow: visible;
      flex-flow: row wrap;
      flex: 1 1 auto;
      align-items: start;
      justify-content: space-around;
    }
    .swin-lane{
      width: 40%;
    }
  }
  
  
  @media(min-width:1200px){
  
    .header .container {
      max-width: none;
      width: 100%;
    }
  
  }
  
  
  @media(max-width:1000px){
      .logo img{
          width: 130px;
      }
      .header{
          min-height: 120px;
          max-height: 130px;
      }
      .menu .img-usuario{
          padding: 10px;
          width: 100px;
      }
      
  }

  /*CUANDO ESTEN PEQUENAS LAS NOTAS AGARRAN TODO EL WIDTH*/
  @media(max-width: 800px){
      
  }
  
  
  @media(max-width: 700px){
      .logo img{
          width: 100px;
      }
      .header{
          min-height: 90px;
          max-height: 110px;
      }
      .menu .img-usuario{
          padding: 10px;
          width: 80px;
      }
      .barra-lateral{
        position: fixed;
        left: -250px;
      }
      .max-barra-lateral{
        left: 0;
      }
      .menu-pequeno{
        display: flex;
      }
      .menu-pequeno ion-icon:nth-child(2){
        display: none;
      }
      main{
        margin-left: 0;
      }
      main.min-main{
        margin-left: 0;
      }

  }
  