@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Concert+One&family=Poppins:wght@400;500;600;700;800;900&display=swap');
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(
    rgba(140,192,222),
    rgba(0,0,0,0.01)),
    url(http://localhost/proyecto/public/img/notas-adhesivas-colores-sobre-fondo-azul.avif);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo img{
  width: 100px;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #ffff; /*color de los links*/
  display: block;
  font-weight: 600;
}
.menu .navbar ul li a:hover {
  color: #FFD9C0;
}
.navbar ion-icon{
  width: 30px;
  font-size: 30px;
}


#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.menu.active{
  background-color: rgb(132, 200, 217);
  height: 20vh;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font-size: 75px; /*tamano de la letra del contenido del header y el encabezado*/
  line-height: 80px;
  color: #f9fafc;
  margin-top: 50px;
  margin-bottom: 35px;
  
  font-family: "Concert One", sans-serif;

}

.header-content p {
  font-size: 16px;
  /*color: ; color del parrafo en el header*/
  padding: 0 250px;
  margin-bottom: 60px;
}

.btn-1 {
  display: inline-block;
  padding: 11px 35px;
  background-color: #fecfb1;
  color: #000;
  margin-bottom: 20px;
}

.btn-1:hover {
  background-color: #CCEEBC;
}

.notas {
  padding: 10px 0px;
  background-color: #faf8f3;
}

.notas-content {
  text-align: center;
}


.notas-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  padding: 0 250px;
  margin-bottom: 15px;
}

.txt-p {
  font-size: 16px;
  color: #414247;
  padding: 0 250px;
  margin-bottom: 50px;
}

.grupo-de-notas {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cosas-1{
  padding: 0 25px;
}
.cosas-1 p{
  margin-bottom: 60px;
}

.cosas-1 img {
  width: 210px;
  margin-bottom: 20px;
}

.notas-png {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}

.cosas-1 h3 {
  color: #323337;
  font-size: 20px;
  margin-bottom: 15px;
}

.services {
  background-image: linear-gradient(
    rgba(212, 178, 201, 0.4),
    rgba(212, 178, 201, 0.4)),
    url(http://localhost/proyecto/public/img/kisspng-post-it-note-adhesive-tape-paper-clip-art-sticky-notes-5ab5c4a8130971.249615681521861800078.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:initial;
    background-size: cover;
    padding: 100px 0px;
}

.services-content {
  text-align: center;
}

.services-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: white;
  margin-bottom: 50px;
  border: solid;
  border-radius: 10px;
}

.services-content p {
  font-size: 16px;
  color: #2C3639;
  margin-bottom: 50px;
  padding: 0 100px;
}

.services-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.servicios-1 {
  padding: 0 100px;
  
}

.servicios-1 img{
  width: 60px;
  margin-bottom: 15px;
}

.servicios-1 h3{
  color: #071952;
  font-size: 15px;
}

h2 {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #0a0a0a;
  margin: 25px 0 45px 0;
}

.footer {
  padding: 30px 0;
  background-color: #083775c4;
  display: flex;
  align-items: center;
}

.footer-content {
  justify-content: space-between;
}

.footer-content h3{
  font-size: 25px;
  color: #fff;
  margin-bottom: 15px;
  left: 0;
}

.footer-content a {
  font-size: 18px;
  color: #000;
  display: flex;
  margin-bottom: 15px;
}
.footer-content a:hover {
  color: rgb(4, 4, 154);
}
.redes p{
  margin-left: 30px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}
.redes a{
  margin-left: 30px;
  color: whitesmoke;
  width: 30px;
  font-size: 40px;
}

.redes .logo-redes{
  display: flex;
}

.links{
  display: flex;
  flex-direction: column;
}

@media(max-width:991px) {

  .menu {
    padding: 30px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #323337;
    display: none;
    background-color: rgba(92, 130, 154, 0.9) ;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .header {
    min-height: 0vh;
  }

  .header-content {
    padding: 100px 30px;
    margin-top: 70px;
  }

  .header-content p {
    padding: 0;
  }

  .notas {
    padding: 30px;
  }

  .notas-content h2 {
    padding: 0;
  }

  .txt-p {
    padding: 0;
  }

  .grupo-de-notas {
    flex-direction: column;
    margin-bottom: 0;
  }

  .notas-png {
    display: none;
  }

  .services {
    padding: 30px;
  }

  .services-content p {
    padding: 0;
  }

  .services-group {
    flex-direction: column;
    margin-bottom: 0;
  }


  .servicios-1{
    margin-bottom: 25px;
  }

  .general{
    flex-direction: column;
  }

  .general-1{
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  .footer{
    padding: 30px;
  }

  .footer-content{
    flex-direction: column;
    text-align: center;
  }
}

@media(min-width:1200px){

  .header .container {
    max-width: none;
    width: 100%;
  }
}
