
.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  outline: none;
  width: 400px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: var(--color-barra-lateral);
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
}
 
li p {
  margin: 0;
  padding: 10px;
  width: 100%;
  color:beige;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: var(--color-btn-borrar-tablero);
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  width: 10%;
  font-size: 1.2em;
  overflow: hidden;
  right: 0;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: var(--color-btn-borrar-tablero-hover);
}


.empty {
  color: var(--color-empty-tablero);
}
