*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

.board {
    
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

/* from */

#todo-form {
    padding: 32px 32px 0;
}

#todo-form input{
    padding: 12px;
    margin-right: 12px;
    width: 225px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background: var(--color-input-tablero);

    font-size: 14px;
    outline: none;
}

#todo-form button{
    padding: 12px 32px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    background: var(--color-input-tablero);
    color: rgba(0, 0, 0, 0.9);

    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
#todo-form button:hover{
    background: var(--color-input-tablero-hover);
}
/* notas */

.lanes{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;

    padding: 24px 32px;

    overflow: scroll;
    height: 100%;
}

.heading{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.swin-lane{
    position: relative;
    
    display: flex;
    flex-direction: column;
    gap: 12px;

    background: var(--color-swim-lane);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    padding: 12px;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;

    flex-shrink: 0;
    z-index: 3;
}

.task {
    background: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25);

    padding: 12px 0px 12px 12px;
    border-radius: 4px;

    font-size: 16px;
    cursor: move;

}

/*cuando estan siendo agarradaas*/

.is-dragging{
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.25);
    background-color: rgb(108, 106, 106);
    color: white;
}

/*precioso boton de eliminar*/

.task .btn-delete{
    
 
 margin-left: 150px;
    
}