*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a{
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(
    rgba(140,192,222),
    rgba(0,0,0,0.01)),
    url(http://localhost/proyecto/public/img/notas-adhesivas-colores-sobre-fondo-azul.avif);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 12vh;
  max-height: 13vh;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.logo img{
width: 75px;
margin: 10px ;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #ffff; /*color de los links*/
  display: block;
  font-weight: 550;
  margin: 10px;
}

.menu .navbar ul li a:hover {
  color: #FFD9C0;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}


/*no tocar*/



.notas {

  position: relative;
  
  font-family: Helvetica Neue, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  position: relative;
  top: 0;
  right: 0;
  background-image: linear-gradient(
      rgba(255,255,255,0.3),
      rgba(255,255,255,0.3)),
   url(http://localhost/proyecto/public/img/transparent-post-it-note-colorful-sticky-notes-stacked-on-black-background662141847fbda1.93129573.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex; 
}












body{
  font-family: Helvetica Neue, sans-serif;
}

form{
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  position: absolute;
}

section .register-container{
transition: .5s ease-in-out;
right: -520px;
overflow: hidden;
}  


section .login-container{
transition: .5s ease-in-out;
left: 4px;
}  


h2{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 25px;
}  

label, p{
  font-size: 23px;
  color: #000;
  margin-bottom: 10px;
}

input{
  padding: 17px 11px;
  border: 1px solid #00adef;
  border-radius: 25px;
  margin-bottom: 25px;
  background-color: #fafafc;
  outline: none;
  color: #000000b5;
  font-size: 18px;
}

.btn-2{
  background-color: #00adef;
  font-size: 15px;
  color: #ffff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-2:hover{
  background-color: #00abefad;
}

.remember{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #2912a8;
}

.remember:hover{
  color: #00adef;
}

.navbar ion-icon{
  cursor: pointer;
  font-size: 30px;
  margin-top: 0;
  padding-top: 0;

}








@media(max-width: 991){

  body{
      padding: 30px;
  }
  form{
      width: 50%;
  }

  .remember{
      flex-direction: column;
  }

  



  .menu1 {
    padding: 30px;
  }

  .menu1 label {
    display: block;
  }

  .menu1 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #323337;
    display: none;
    background-color: rgba(0,0,0,0.5) ;

    border: solid;
  }

  .menu1 .navbar ul li {
    width: 100%;
  }

  #menu1:checked ~ .navbar {
    display: initial;
  }

  .header {
    min-height: 0vh;
  }

  .header-content {
    padding: 100px 30px;
    margin-top: 70px;
  }

  .header-content p {
    padding: 0;
  }


}

@media(min-width: 650px){

  form{
      background-color: #F6F5F2;
    }
  
    label, p{
      font-size: 17px;
      color: #000;
      margin-bottom: 10px;
  }
          
}
